$buttons: ('spot1',$spot1), ('spot2',$spot2), ('spot3',$spot3), ('spot4',$spot4), ('white',$white), ('black',$black), ('lightgrey,'$lightgrey), ('darkgrey,'$darkgrey);

@each $button in $buttons {
        .uk-button-#{nth($button,1)} {
                font: {size:$h5;family: map-get($fonts, "primary");weight:400;}padding:.5rem 1rem;margin:.3rem 0;border:1px solid nth($button,2);background-color:nth($button,2);color:$white;@include transition(all .4s);
                &:hover {color:nth($button,2);background-color:transparent;}
        }
        .uk-textbutton-#{nth($button,1)} {
                font: {size:$h5;family: map-get($fonts, "primary");weight:400;}padding:.5rem 1rem;margin:.3rem 0;color:nth($button,2);@include transition(all .4s);
                &:hover {color:nth($button,2);}
        }
        .uk-button-dark {
                &:hover {color:$white;background-color:transparent;border-color:$white;}
        }
        .uk-button-light {
                &:hover {color:$darkgrey;background-color:transparent;border-color:$darkgrey;}
        }
        .uk-textbutton-dark-#{nth($button,1)} {
                font: {size:$h5;family: map-get($fonts, "primary");weight:400;}padding:.5rem 1rem;margin:.3rem 0;color:nth($button,2);@include transition(all .4s);
                &:hover {color:$white;}
        }
        .uk-textbutton-light-#{nth($button,1)} {
                font: {size:$h5;family: map-get($fonts, "primary");weight:400;}padding:.5rem 1rem;margin:.3rem 0;color:nth($button,2);@include transition(all .4s);a
                &:hover {color:$darkgrey;}
        }
        .uk-button-rightarrow-dark {
                &:after {content:"";background-image:url(../img/icons/white-arrow-right.svg);background-repeat:no-repeat;background-position:center right;padding-right:60px;}
        }
        .uk-button-rightarrow-light {
                &:after {content:"";background-image:url(../img/icons/white-arrow-right.svg);background-repeat:no-repeat;background-position:center right;padding-right:60px;}
        }
    }

    .wpcf7-submit {position:absolute;bottom:-23px;left:7%;
        padding:1rem 1.6rem;letter-spacing:1px;margin:.3rem 0;border:1px solid $spot2;background-color:$spot2;color:$white;@include transition(all .4s);-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;font: {size:$h6;family: map-get($fonts, "secondary");weight:400;}
        &:hover {color:$spot2;background-color:$spot1;}
    }